extends layout

block content
	div.container(ng-controller="entrevistas")
		h1 Visualizar Ocorrências
		p Visualizar Ocorrências

		table.table.table-striped.table-bordered.table-condensed
			thead
				tr
					th
					th Lula
					th Aecio
			tbody
				each entrevista , i in entrevistas
					tr
						td= i + 1
						td= entrevista.lula
						td= entrevista.aecio



block footer
	script(src='/javascripts/entrevistas.js')