.footer
	.container
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Luiz Augusto Guimarães Costa
			&nbsp;2013



script(src='/javascripts/angular.min.js')
script(src='/javascripts/underscore.min.js')

block footer