div.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="/")
				| NeuroGrubi
			div.nav-collapse.collapse
				ul.nav
				//
					each menuitem in [{title:'Home',url:'/'},{title:'Train',url:'/train'},{title:'Entrevistas',url:'/entrevistas'}, {title:'Sobre',url:'/sobre'}]
						if (menuitem.title == title)
							li.active
								a.active(href=menuitem.url) #{menuitem.title}
						else
							li
								a(href=menuitem.url) #{menuitem.title}
