doctype 5
html(lang='pt-br', ng-app='#{title}')
	head
		block head
			block title
				title NeuroGrubi #{title}
			block meta
				meta(charset="UTF-8")
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include header

		block content

		include footer
