extends layout

block content
	div.container(ng-controller="show")
		h1 Visualizar Ocorrências
		p Visualizar Ocorrências

		table.table.table-striped.table-bordered.table-condensed
			thead
				tr
					th
					th Hora
					th Logradouro
			tbody
				each ocorrencia , i in ocorrencias
					tr
						td= i + 1
						td= ocorrencia.hora
						td= ocorrencia.logradouro



block footer
	script(src='/javascripts/ocorrencias.js')