extends layout

block content
	div.container
		.page-header
			h1 Resultado do treinamento
		p.lead
			| Abaixo esta um gráfico de erros por épocas de treinamento.

		canvas(id="error", width="1170", height="500")

		p.lead
			| Abaixo esta o resultado do treinamento da rede neural. Com ele não é necessários realizar
			| o treinamento novamente.
		div.hero-unit= neural.net

block footer
	script(src='/javascripts/train.js')
	script(src='/javascripts/chart.min.js')
	script.
		var errorChartData = {
			labels : [#{neural.labels}],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : [#{neural.datas}]
				}
			]

		};
		new Chart(document.getElementById("error").getContext("2d")).Line(errorChartData, {pointDot : false, animation : false,scaleOverlay : true});
