extends layout

block content
	div#progress(style="display: none;")
		.progress
			#progressBar.bar(style='width: 0%;')


	div.container(ng-controller="train")
		.page-header
			h1 Configurar a Rede Neural
		p.lead
			| Parâmetros para configuração do treinamento da rede neural


		form.form-horizontal
			.control-group
				label.control-label(for='learningRate') Taxa de Aprendizado:
				.controls
					input#learningRate(type='text', placeholder='Default 0.3', ng-model="learningRate")
			.control-group
				label.control-label(for='momentum') Momentum:
				.controls
					input#momentum(type='text', placeholder='Default 0.1', ng-model="momentum")
			.control-group
				label.control-label(for='errorThresh') Limiar do erro:
				.controls
					input#errorThresh(type='text', placeholder='Default 0.005', ng-model="errorThresh")
			.control-group
				label.control-label(for='iterations') Épocas:
				.controls
					input#iterations(type='text', placeholder='Default 20000', ng-model="iterations")
			.control-group
				label.control-label(for='hiddenLayers') Camadas Escondidas:
				.controls
					.input-append
						input#hiddenLayers.span2(type='text', placeholder='Neorônios', ng-model="camada.quantidadeNeuronios")
						button.btn(type='button', ng-click="adicionarNeuronioCamadaEscondida()") Add
			.control-group(ng-show="camadas.length > 0")
				label.control-label(for='hiddenLayers') Camadas
				.controls
					table.camadas.table.table-bordered.table-striped
						tbody
							tr(ng-repeat="camada in camadas")
								td(ng-show="camada > 1") {{$index + 1}} - Possui {{camada}} neuronios
									span.todo-destroy.pull-right.item-buttons(ng-click="removerCamadaEscondida(camada)")
								td(ng-show="camada == 1") {{$index + 1}} - Possui {{camada}} neuronios
									span.todo-destroy.pull-right.item-buttons(ng-click="removerCamadaEscondida(camada)")
			.control-group
				label.control-label(for='entradas') Entradas:
				.controls
					label.checkbox.inline
						input(type='checkbox', value='educacao', ng-model='entrada.educacao')
						| Educação
					label.checkbox.inline
						input(type='checkbox', value='escolaridade', ng-model='entrada.escolaridade')
						| Escolaridade
					label.checkbox.inline
						input(type='checkbox', value='idade', ng-model='entrada.idade')
						| Idade
					label.checkbox.inline
						input(type='checkbox', value='renda', ng-model='entrada.renda')
						| Renda
					label.checkbox.inline
						input(type='checkbox', value='sexo', ng-model='entrada.sexo')
						| Sexo
					label.checkbox.inline
						input(type='checkbox', value='saude', ng-model='entrada.saude')
						| Saúde
					label.checkbox.inline
						input(type='checkbox', value='seguranca', ng-model='entrada.seguranca')
						| Segurança
			.control-group
				label.control-label(for='saidas') Saídas:
				.controls
					label.checkbox.inline
						input(type='checkbox', value='educacao', ng-model='saida.educacao')
						| Educação
					label.checkbox.inline
						input(type='checkbox', value='escolaridade', ng-model='saida.escolaridade')
						| Escolaridade
					label.checkbox.inline
						input(type='checkbox', value='idade', ng-model='saida.idade')
						| Idade
					label.checkbox.inline
						input(type='checkbox', value='renda', ng-model='saida.renda')
						| Renda
					label.checkbox.inline
						input(type='checkbox', value='sexo', ng-model='saida.sexo')
						| Sexo
					label.checkbox.inline
						input(type='checkbox', value='saude', ng-model='saida.saude')
						| Saúde
					label.checkbox.inline
						input(type='checkbox', value='seguranca', ng-model='saida.seguranca')
						| Segurança

			.control-group
				label.control-label(for='unknownData') Dados Desconhecidos:
				.controls
					select(ng-model='unknownData')
						option(value="0") 0 %
						option(ng-repeat="per in [10,20,30,40,50,60,70,80,90]", value="{{per}}") {{per}} %

			.control-group
					.controls
						button.btn.btn-primary(type='submit',ng-click='treinar()') Treinar






block footer
	script(src='/javascripts/train.js')