body {
  padding-top: 60px;
}
table.camadas {
  width: 220px;
  margin-top: -6px;
}
table.camadas td {
  padding: 6px;
}
span.todo-destroy {
  cursor: pointer;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  vertical-align: text-top;
  width: 26px;
  background: url('../images/todo-icons.png') no-repeat -52px 0;
}
.todo-destroy:hover {
  background-position: -52px -26px;
}
