body {
  padding-top: 60px;
}
table.camadas {
  width: 220px;
  margin-top: -6px;
}
table.camadas td {
  padding: 6px;
}
span.todo-destroy {
  cursor: pointer;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  vertical-align: text-top;
  width: 26px;
  background: url('../images/todo-icons.png') no-repeat -52px 0;
}
.todo-destroy:hover {
  background-position: -52px -26px;
}
canvas#error {
  margin-bottom: 30px;
}
div#progress {
  background-color: rgba(2, 2, 2, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}
div#progress .progress {
  left: 50%;
  margin-left: -300px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 500px;
}
